*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

:root {
  --hue-neutral: 300;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue), 100%, 20%);
  flex-direction: column;
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: rgb(230, 219, 157);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 3px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 100px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: white;
}

.btn.correct {
  --hue: var(--hue-correct);
  color: white;
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.start-btn,
.next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

#box1 {
  top: 0;
  position: absolute;
  width: 250px;
  height: 100px;
  background: rgb(228, 217, 158);
  font-size: 50px;
  text-align: center;
  color: blueviolet;
  /*
  animation: mySlide;
  animation-play-state: running;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-duration: 5s;
  */
  animation: 3s linear 0s 1 running mySlide;
}

@keyframes myScale {
  50% {
    transform: scale(0.5, 0.5);
  }
}

@keyframes mySlide {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

.test {
  color: 238, 228, 171;
}

.player {
  position: center;
  width: 200px;
  background-color: none;
  border-radius: 1px;
  box-shadow: none;
}
.player audio {
  width: 100%;
}
